body {
  margin: 0px;
}
.domain {
  display: none;
}
.tick line {
  stroke: #D0D0D0;
}
.tick text, .colorlegendCells text, .sizelegendCells text {
  fill: #8E8883;
  font-size: 14pt;
  font-family: sans-serif;
}
.colorlegendCells circle {
  opacity: 0.5;
}

.sizelegendCells circle {
  fill: #5e5e5e;
  opacity: 0.5;
}

.axis-label, .legend-label {
  fill: #635F5D;
  font-size: 18pt;
  font-family: sans-serif;
}

.zoom-catcher {
  fill: transparent;
  stroke: none;
}

/* Make the chart container fill the page using CSS. */
#visualization {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#tooltip {
  position: absolute;
  text-align: center;
  width: 300px;
  /*height: 150px;*/
  padding: 10px;
  font: 12px sans-serif;
  background: #E0E0E0;
  border: 5px;
  border-radius: 20px;
  pointer-events: none;
}

.ttheader {
  font-size: 9pt;
  font-weight: bold;
  color: #808080;
  display: inline-block;
  width: 50px;
}

.ttdata {
  font-size: 11pt;
}

.drowning { fill: #60B0FF; }
.exposure { fill: #FFA030; }
.mechanical { fill: #606060; } 
.violence { fill: #A00000; } 
.medical { fill: #609000; }
.unknown { fill: #FFA0C0; } /*#d8c6ff*/

.legend-value {
  fill: #8E8883;
  font-size: 12pt;
  font-family: sans-serif;
}

.legend-icon {
  opacity: 0.75;
}

.mark {
  opacity: 0.5;
}

.highlight {
  opacity: 1.0;
  stroke: black;
}

.greyout {
  opacity: 0.3;
  fill: #808080;
}

.verified {
  font-size: 10pt;
  font-weight: bold;
  color: green;
}

.part-verified {
  font-size: 10pt;
  font-weight: bold;
  color: orange;
}

.unverified {
  font-size: 10pt;
  font-weight: bold;
  color: red;
}
