body {
  margin: 0px;
}
.domain {
  display: none;
}
.tick line {
  stroke: #D0D0D0;
}
.tick text, .colorlegendCells text, .sizelegendCells text {
  fill: #8E8883;
  font-size: 14pt;
  font-family: sans-serif;
}
.colorlegendCells circle {
  opacity: 0.5;
}

.sizelegendCells circle {
  fill: #5e5e5e;
  opacity: 0.5;
}

.axis-label, .legend-label {
  fill: #635F5D;
  font-size: 18pt;
  font-family: sans-serif;
}

/* Make the chart container fill the page using CSS. */
#visualization {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
